@model LabW12Quotes.Models.Entities.Quote

<h4>Quote</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Quote" id="submitQuoteCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TheQuote" class="control-label"></label>
                <input asp-for="TheQuote" class="form-control" />
                <span asp-validation-for="TheQuote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhoSaidIt" class="control-label"></label>
                <input asp-for="WhoSaidIt" class="form-control" />
                <span asp-validation-for="WhoSaidIt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-action="Create" asp-controller="Quote" type="submit" value="Create" class="btn btn-default" />
                <button id="cancelQuoteCreate" class="btn btn-danger">Cancel</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
